.contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(100vh - 120px); /* Adjust based on header and footer height */
    padding: 0 30px 2rem 30px;
}

@media (max-width: 425px) {
    .contentWrapper {
        padding: 0 15px 2rem 15px;
    }
}

@media (max-width: 375px) {
    .contentWrapper {
        padding: 0 15px 2rem 15px;
    }
}

