/* src/components/CarList/CarList.module.css */
.carList {
    margin-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #222831;
}

.seeAllButton {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}

.seeAllButton:hover {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(290px, 1fr));
    gap: 1.5rem;
    overflow-x: auto; /* Horizontal scrolling if needed */
    width: 100%;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
}

.grid::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome/Safari */
}

/* Ensure cards maintain their size */
.grid > * {
    min-width: 250px;
}