/* src/components/HomeHeader/HomeHeader.module.css */
.header {
    padding: 30px;
    position: relative;
    margin-bottom: 0;
}

.greeting {
    position: relative;
}

.greeting h1 {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #222831;
    margin-bottom: 0;
}

.greeting p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #222831;
    margin-top: 5px;
}

.icon{
    position: absolute;
    top: 8px;
    right: 10px;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 12px 16px;
    margin-top: 20px;
    gap: 12px;
    border: 0.5px solid #DC510A;
}

.searchIcon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.searchInput {
    flex: 1;
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #222831;
    outline: none;
}

.searchInput::placeholder {
    color: #DC510A;
}