/* src/components/HomeHeader/HomeHeader.module.css */
.header {
    padding: 30px;
    position: relative;
    margin-bottom: 0;
}

.greeting h1 {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #222831;
    margin-bottom: 0;
}

.greeting p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #222831;
    margin-top: 5px;
}

.icon{
    position: absolute;
    top: 50px;
    right: 30px;
}