.logoutContent h2{
    text-align: center;
}

.logoutContent p{
    color: #6A6A6A;
}

.cancelButton {
    background: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 139px;
    height: 51px;
    margin-right: 20px;
}

.logoutButton {
    background: var(--primary-color);
    color: white;
    border-radius: 5px;
    width: 139px;
    height: 51px;
    border: 1px solid var(--primary-color);
}

@media (max-width: 768px) {
    .cancelButton{
        margin-right: 10px;
    }
}

@media (max-width: 375px) {
    .cancelButton{
        margin-right: 2px;
    }
}